 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" | prepend: site.baseurl }}"></script>
    <!-- slick slider -->
    <script type="text/javascript" src={{ "/slick/slick/slick.min.js" | prepend: site.baseurl }}></script> 
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script> 

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

 
   
    

    <script type="text/javascript">
      $(document).ready(function(){
        $(".panel.review").slick({ 
          autoplay: true,
          autoplaySpeed: 3000,
          dots: true
        });
      });
